:root {
  --font-text: "Lexend", Helvetica, Arial, sans-serif;
  --font-title: "IBM Plex Mono", monospace;

  --transi: all 0.3s ease;
}

html,body {
  background-color: #f4f4f4;
  font-family: var(--font-text);
  font-weight: 300;
  letter-spacing: 0.02em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: var(--transi);
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}