img.portrait {
    width: 200px;
    height: auto !important;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

div.ASI {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
}